/* ! above are rules for poppins font (https://fonts.cdnfonts.com/css/poppins) */
/* ! explicitly adding rules instead of importing rules prevents wrong font from being loaded in for a few seconds */

/* ! override bootstrap css by changing values of bs css variables */
:root,
[data-bs-theme="light"] {
  --bs-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --bs-box-shadow-sm: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --bs-box-shadow-lg: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* ! add constant vertical scrollbar to body so there is no layout shift when body becomes scrollable */
body {
  overflow-y: scroll;
}

/* ! makes item stick to top of scrollable container */
/* ! used for "All" buttons in dropdown filters */
.list-item-sticky {
  inset-block-start: 0;
  position: sticky;
  z-index: 1;
}

.w-280px {
  width: 280px;
}

.scroll-sticky-0 {
  z-index: 1;
  position: sticky;
  inset-block-start: 0px;
}

.scroll-sticky-8 {
  z-index: 1;
  position: sticky;
  inset-block-start: 8px;
}

.fs-small {
  font-size: small;
}

.transition-all {
  transition: all 0.15s ease-in-out;
}

/* .form-check-input {
  margin-top: 0;
} */

.form-check-input {
  border-color: var(--bs-secondary);
}

.list-group-item {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

mark {
  padding: 0;
  background-color: var(--bs-warning);
}

[class*="ag-theme-"] {
  font-family: var(--bs-body-font-family);
}

.ag-root-wrapper {
  box-shadow: var(--bs-box-shadow-sm);
}

.ag-theme-quartz {
  --ag-grid-size: 5px;
  --ag-list-item-height: 20px;
}
.auto-sizing .ag-root-wrapper-body {
  opacity: 0;
}

.recharts-surface {
  overflow: visible;
}

@media (max-width: 767.98px) {
  .col-max-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.pricing-header {
  max-width: 700px;
}

.picker {
  position: relative;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Dropdown Button */
.w3-dropdown-button {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.w3-dropdown-button:hover,
.w3-dropdown-button:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.w3-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.w3-dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.w3-dropdown-content .w3-dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.w3-dropdown-content .w3-dropdown-item:hover {
  background-color: #ddd;
}
